body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    margin:0;
    padding:0;
}

.container{
    width:80%;
    margin:auto;
    background:#ffffff;
    padding:20px;
    margin-top:30px;
    border-radius:10px;
}

h1{
    text-align:center;
}

label{
    display:block;
    margin-top:10px;
}

input,
select{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:10px;
}

button{
    padding:10px 20px;
    background:#007bff;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

table, th, td{
    border:1px solid #ccc;
}

th{
    background:#007bff;
    color:white;
}

th, td{
    padding:10px;
    text-align:left;
}

#message{
    margin-top:15px;
    font-weight:bold;
    color:green;
}

